/*
 * Color settings
 */
$slr_color_primary: #ef6700;
$slr_color_secondary: #4225cc;

.slr_color_primary {
    background-color: $slr_color_primary !important;
}

.slr_color_secodary {
    background-color: $slr_color_secondary !important;
}

.slr_text {
    color: $slr_color_primary !important;
}


.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.btn-social {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin: 10px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    overflow: hidden;
    i {
        font-size: 1.25rem !important;
        line-height: 47px;
        display: inline-block;
        width: inherit;
        text-align: center;
        color: #ffffff;
    }


    &.fb-ic {
        background-color: #3b5998 !important;
    }
    &.tw-ic {
        background-color: #1da1f2 !important;
    }
    &.yt-ic {
        background-color: #ff0000 !important;
    }
    &.in-ic {
        background-color: #2e5e86 !important;
    }
    &.wp-ic {
        background-color: #21759b !important;
    }
}
.card-footer > .btn-social {
    margin: 0 10px;

}

html,
body,
header,
.view {
    height: 100%;
}

.article-img {
    max-width: 300px;
}
@media (max-width: 767.98px) {
    .article-img {
        max-width: 100%;
    }
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 650px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: $slr_color_primary !important;
    }
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
}

/* Navbar animation */
.navbar {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-collapse {
    transition: .7s all;
    #icon {
        transition: .7s all;
    }
    a.dropdown-item {
        color: #ffffff !important;

        &:hover {
            background-color: rgba(0, 0, 0, 1);
        }
    }
}

/*.fixed-top {
    max-height: 100%;
    overflow-y: auto;
}*/

.avatar{
    pointer-events: stroke;
    img{
        max-width: 200px;
        max-height: 200px;
        height: auto;
    }
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, .7) !important;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -o-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: $slr_color_primary;

    #icon {
        *{
            fill: white;
        }
    }

    .dropdown-menu {
        border-top: none;
        background-color: $slr_color_primary !important;

        a:hover {
            background-color: rgba(0, 0, 0, .3) !important;
        }
    }
}

@media (min-width: 992px) {
    .navbar-collapse li a {
        &:not(.dropdown-item) {
            &:before {
                content: '';
                width: 60px;
                position: absolute;
                border-bottom: 4px solid;
                bottom: 0;
                right: 350px;
                transition: .7s all;

            }

            &:hover:before {
                right: 0;
            }
        }
    }
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: $slr_color_primary;
    }
}

/* Full Page Carousel itself*/
.carousel {
    height: 100%;

    .carousel-inner {
        height: 100%;

        .carousel-item, .active {
            height: 100%;
        }
    }
}

.icon {
    &.fb-ic {
        color: #3b5998 !important;
    }
    &.tw-ic {
        color: #1da1f2 !important;
    }
    &.yt-ic {
        color: #ff0000 !important;
    }
    &.fb-ic {
        color: #3b5998 !important;
    }
    &.fb-ic {
        color: #3b5998 !important;
    }
    &.fb-ic {
        color: #3b5998 !important;
    }
    &.fb-ic {
        color: #3b5998 !important;
    }
}

.btn-slr-pr {
    background-color: $slr_color_primary !important;
    color: #fff;
}

.btn-slr-sec {
    background-color: $slr_color_secondary !important;
    color: #fff;
}

.dropdown-menu-scroll {
    overflow-x: auto;
}

#icon {
    margin-right: .5rem;
    max-height: 50px;
    * {
        transition: .7s all;
    }
}